/*style.css*/
#objetivo
{
    max-width: 70%;
}

#btn-entrar a {
    color: #F0F0E9;
}

.responder-responsavel {
    float: right;
    display: block;
    margin-top: 120px;
}

#notificacoes p {
    color: black;
}
#mensagem
{
    background-color: #F0F0E9;
    border-radius: 15px;
    padding: 15px 20px;
}

#anexar {
    border-radius: 20px;
    background-color: #bbb;
    padding: 5px;
}

/*cadastro.css*/
.nao-possui-conta {
    font-size: 12px;
    font-weight: bold;
}
#concordo {
    width: initial;
}

#termos {
    margin-bottom: 5px;
}

#sim,#nao {
    display: inline-block;
    margin-right: 10px;
    padding: 0;
    width: 10px;
}

#li {
    display: flex;
    align-items: center;
    gap: 10px;
}

#li input {
    margin-bottom: 0;
}

/*inscricao_projeto.css*/
#cancelar
{
    background-color: #FF2233;
    color:#F0F0E9;
    border-radius: 15px;
    padding: 5px 20px;
    font-family: lato;
}

#validar-relatorio
{
    background-color: #14387F;
    color:#F0F0E9;
    border-radius: 15px;
    padding: 5px 20px;
    font-family: lato;
}

/*main.css*/
#projeto
{
    background-color: #C4C4C4;
    border-radius: 25px;
    padding: 25px;
    height:auto;
}

#notificacoes
{
    background-color: #D4D4D4;
    padding: 20px;
    border-radius: 25px;
    width: 200px;
    min-height: 10px;
    position: relative;
}

#notificacoes p {
    margin: 10px 0;
}

#notif {
    height: 35px;
    width: 35px;
    background: red;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#notif p {
    color: #f0f0e9 !important;
}

label
{
    font-family: latob;
}

progress
{
    height: 30px;
    width: 300px;
}

.solicitar-certificado {
    float: right;
    background: #008237;
}

#sair
{
    background-color: #D61313;
    color: #F0F0E9;
    border-radius: 10px;
    padding: 10px;
    width: 160px;
    height: 40px;
    font-size: 100%;
    font-family: lato;
}

#novo
{
    background-color: #14387F;
    color: #F0F0E9;
    border-radius: 10px;
    padding: 10px;
    width: 160px;
    height: 40px;
    font-size: 100%;
    font-family: lato;
}

/*novo-relatorio.css*/
#novo-relatorio
{
    background-color: #C4C4C4;
    border-style: solid;
    border-width: 2px;
    border-color: #14387F;
    border-radius: 25px;
    padding: 20px;
}

#atividades-realizadas
{
    font-family: lato;
    border-collapse: collapse;
    width: 100%;
}

#atividades-realizadas td, #atividades-realizadas th
{
    border: 1px solid #F0F0E9;
    padding: 5px;
}

#atividades-realizadas tr:nth-child(even)
{
    background-color: #D4D4D4;
}

#atividades-realizadas th
{
    padding: 5px 20px;
    text-align: center;
    background-color: #B4B4B4;
}

#horas
{
    background-color: #f0f0e9;
    border-radius: 10px;
    width: 100px;
    padding-left: 5px;
}

#nova-atividade
{
    background-color: #008237;
    color: #F0F0E9;
    padding: 5px 20px;
    border-radius: 25px;
}

#cancelar
{
    background-color: #FF2233;
    color:#F0F0E9;
    border-radius: 15px;
    padding: 5px 20px;
    font-family: lato;
}

#enviar-relatorio
{
    background-color: #14387F;
    color:#F0F0E9;
    border-radius: 15px;
    padding: 5px 20px;
    font-family: lato;
}